@using Entities.Concrete
@model Company

@{
    ViewData["Title"] = "AddCompany";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-12">
@using (Html.BeginForm("AddCompany", "Company", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Company Name")
        @Html.TextBoxFor(x=>x.CompanyName,new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.CompanyName)
       
        <br>
        <button class="btn btn-info">Add</button>
    </div>
}
</div>


